<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
		<link rel="icon" href="/media/favicon.ico">
		<link rel="stylesheet" href="/modules/cherry-markdown.min.css" />
		<link rel="stylesheet" href="/styles/cherry-stem.css" />
		<script src="/modules/cherry-markdown.esm.js" type="module"></script>
		<script type="text/javascript">
			document.cherryStemRefreshRate = <%= refreshRate %>;
		</script>
		<script async="async" src="/scripts/cherry-stem.js" type="module" /></script>
	</head>
	<body>
		<div id="markdown"></div>
	</body>
</html>
